<div class="container-fuild">
  <div class="top">
    <div class="top-text">
      <%= link_to public_guest_sign_in_path, method: :post do %>
        ゲストユーザーの方はこちらからログイン=> <i class="far fa-id-badge fa-2x"></i>
      <% end %>
    </div>
  </div>
</div>

